


body {
	font-family: "stolzl",sans-serif;
	font-style: normal;
	font-weight: 100;
}
ul{
	font-family: "stolzl",sans-serif;
	font-weight: 100;
	font-size: 48px;
	list-style: none;
	font-style: normal;
}
li{
	font-family: "stolzl",sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
}
li a {

}
p{
	font-family: "stolzl",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	text-indent: 1rem;
}


h1 {
	font-family: "stolzl",sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 62px;
	color: #FFF;
}
h2 {
	font-family:  "stolzl",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	color: #fff;
}
h3{
	font-family: "stolzl",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
}
h4{
	font-family: "stolzl",sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
}
h5{
	font-family: "stolzl",sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 36px;
}
.header-container{
	margin:0;
}
#page-header{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	background-attachment: fixed;
	background-color: #ccc;
	height: 45vh;
	background-image: url("../images/content-backgrounds/content-background-1.jpg");
	background-color: #ccc;
	text-align: center;
	margin-top: 0;
}
.header-title-1{
	text-align: center;
	margin-top: 2rem;
	width: 100%;
}
.header-title-2{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 8rem;
	width: 100%;
}
.page-menu{
	color: #fff;
	height: 4rem;
}
.navbarNav {
	text-align: right;
}

.header-social-links {
	margin-bottom: 1rem;
}
.header-social-icon {
	margin-right: 1rem;
}

#nav-link {
	color: #fff;
}
#nav-container{
	text-align: right;
}
#page-nav li{
	text-align: right;
	display: inline;
	list-style-type: none;
}

.title-first{
	animation-delay:0.6s;
}
.title-second{
	animation-delay:1.2s;
}


.highlight-first{
	animation-delay: 1.9s;
}
.highlight-second{
	animation-delay: 2.6s;

}
.highlight-third{
	animation-delay: 3.1s;
}
.highlight-fourth {
	animation-delay: 3.6s;
}
.highlight-fifth {
	animation-delay: 4.1s;
}
.highlight-sixth {
	animation-delay: 4.6s;
}

#page-highlight {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.highlight-text{
	font-family: "stolzl",sans-serif;
	font-style: normal;
	color: #1E1E1EFF;
	font-weight: 300;
	font-size: 36px;
	margin-bottom: 2rem;
}

.page-highlight-image {
	height: 25rem;
	background-size: cover;
	background-image: url("../images/content-backgrounds/content-background-3.jpg");
	background-color: #ccc;
	margin-bottom: 4rem;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
}

#nav-text{
	color: #FFF;
}
a:hover{
	color: #CCC;
}
.fa-chevron-right {
	color: #000;
}

.fa-chevron-left {
	color: #000;
}

.fa-github-square {
	color: #fff;
}

.fa-stack-overflow {
	color: #fff;
}

.fa-linkedin {
	color: #fff;
}

.fa-instagram {
	color: #fff;
}
.contact-footer {
	background: #269db5;
	color: #fff;
}
.contact-header {
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.contact-header-title {
	text-align: center;
	color: #fff;
	border-bottom: solid 1px #fff;
	margin-bottom: 2rem;
}
.contact-content{
	color: #fff;
}
.connect-content {
	text-align: center;
	color: #fff;
}
.form-item {
	margin-top: 1rem;
}
.form-label {
	margin-right: 1rem;
}
.input {
	width: 40rem;
}

.work-title{
	text-align: center;
	color: #000;
	font-family: /*"Odudo-Bold", */"stolzl",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 28px;
	vertical-align: text-bottom;
	border-bottom: solid 1px #269db5;
	margin-bottom: 1rem;
}
.first-work-title{
	color: #1E1E1EFF;
	text-align: center; 
}
.second-work-title{
	color: #269db5;
	text-align: center;
}
.work-text {
	text-align: left;
}
.work-break {
	border-bottom: solid 1px #269db5;
	margin-bottom: 1rem;
}
.work-div {
	margin-top: 1rem;
	margin-bottom: 2rem;
}


@media (max-width: 992px) { 

h1 {
	font-family: "stolzl",sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 46px;
	color: #fff;
}
h2 {
	font-family: "stolzl",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	color: #fff;
} 
h3{
	font-family: "stolzl",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
}
.header-title-1{
	text-align: center;
	margin-top: 1rem;
	width: 100%;
}
.header-title-2{
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 100%;
}
.page-highlight {
	margin: auto;
}

.highlight{
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
}